h1
{
	margin: auto; /* fonctionne avec le module flexbox*/
	padding: 20px;	
    text-align: center;
}

strong
{
    font-weight: 1000;
    text-decoration: underline;
}

italic
{
    font-style: italic;
}

/*******************START BLOG***************************/
.fond_acceuil
{
    /* On met en place le fond d'écran */
    min-height: 100%; 
    min-width: 100%;
    /* On indique un redimensionnement proportionnel */
    width: 100%;
     height: auto;
    /* L'image est positionnée en haut à gauche */
    position: fixed;
    top: 20;
    left: 0;
    /*border-top: 1px solid white; */   /*avec ou sans la bordure**/
}
/*******************STOP BLOG***************************/

/*******************START ABOUT ME***************************/
#conteneur_aboutme
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#aboutme
{
    width: 50%;
    text-align: justify;
    padding-right: 20px;
}
/*******************STOP ABOUT ME***************************/

/*******************START EXPERIENCE / DIPLOME***************************/
#conteneur_exp1, #conteneur_exp2, #conteneur_exp3, #conteneur_exp4, #conteneur_dip1, #conteneur_dip2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;  
    padding: 30px;   /* marge intérieur **/
}

.img_exp1, .img_exp2, .img_exp3, .img_exp4, .img_dip1, .img_dip2
{
    width: 300px;
    height: auto;
}

#descriptif_exp1, #descriptif_exp2, #descriptif_exp3, #descriptif_exp4, #descriptif_dip1, #descriptif_dip2
{
    /*border: 1px red solid;*/
    width: 70%;
    padding-left: 30px;
    padding-top: 30px;
    text-align: justify;
}

/*******************STOP EXPERIENCE / DIPLOME***************************/


/*******************START COMPETENCE***************************/
.container_info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}  

.img_html5, .img_css3, .img_php, .img_matlab, .img_java, .img_python
{
    width: 150px;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.progress
{
    background-color: sandybrown;
    height: 50px;
    width: 500px;
}

.comp_html5, .comp_css3, .comp_php, .comp_matlab, .comp_java, .comp_python
{
    display: flex;
    align-items: center;
    /*padding-top: 20px;
    padding-left: 20px;*/
    padding: 20px;
} 

.container-sm
{
    position: relative;
    top: 10px;
    left: 415px;
    align-items: center;
}

.btn_position
{
    position: relative;
    top: 5px;
    left: 20px;
}

.sr-only
{
    font-size: 18px;
}



/*******************STOP COMPETENCE***************************/

/*******************START CONTACT***************************/
#conteneur_detail
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.lie, .pho, .mai, .sit
{
    height: 20px;
    width: auto;
    padding-left: 30px;
    padding-right: 5px;
}

#conteneur_reseau
{
    display: flex;
    justify-content: center;
}

#logo_contact
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
/*******************STOP CONTACT***************************/
