{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes expériences professionnelles</h1>

<div id="conteneur_exp1">
    <img class="img_exp1" src="/images/logo_cnrsr.png"  alt="Date / time Centre National de Recherche Scientifique" title="Logo du CNRS">
    <div id="descriptif_exp1">
<p><strong>Poste :</strong> Ingénieur d’étude spécialisé en biomécanique</p>
<p><strong>Résumé :</strong> Post diplôme, j’ai rejoint le Centre National de Recherche Scientifique de Dijon (France). J’y ai travaillé sous contrat à durée déterminé pendant une année. 
J’ ai mené un projet industriel en collaboration avec l’entreprise Airbus (Toulouse). L’objectif était de mettre en place une méthodologie permettant une analyse biomécanique de la posture chez le pilote d’avion. L’ utilisation de différentes technologies de capture du mouvement 3D ont permis une reproduction numérique du pilote. Ensuite différentes modélisation ont été effectué afin d’étudier l’agencement des cockpit.</p>
<p><italic>Plus de détail prochainement…</italic></p>
    </div>
</div>

<div id="conteneur_exp2">
    <img class="img_exp2" src="/images/logo_nexterr.png" alt="Date / time Nexter Systems" title="Logo Nexter Systems">
    <div id="descriptif_exp2">
<p><strong>Poste :</strong> Stagiaire en environnement vibratoire</p>
<p><strong>Résumé :</strong> J’ai effectué mon stage de fin d’étude chez le leader européen de l’armement. L’entreprise Nexter Systems, ma accueilli durant 6 mois dans ses locaux sur le site de Satory (Versailles, France). 
J’ai travaillé sur le contrôle et l’amélioration du confort vibratoire des sièges dans les véhicules blindés. Au travers de l’analyse vibratoire recueillie en situation de roulage, différentes modélisations ont été effectuées afin d’améliorer le confort vibratoire des occupants.</p>   
<p><italic>Plus de détail prochainement…</italic></p>
    </div>
</div>

<div id="conteneur_exp3">
    <img class="img_exp3" src="/images/logo_compressportr.png" alt="Date / time Compressport" title="Logo compressport">
    <div id="descriptif_exp3">
<p><strong>Poste :</strong> Stage en recherche fondamentale</p>
<p><strong>Résumé :</strong> Lors de mon stage de première année de Master, j’ai été accueillie dans les laboratoires de recherche (plateforme EPSI) de l’Université de Franche-Comté (Besançon, France) afin de travailler pour la société Compressport.
Durant 3 mois j’ ai réalisé une étude conséquente sur la compression musculaire. Dans un premier temps il s’agissait de confirmer l’effet de la compression sur la réduction des oscillations musculaire. Dans un second temps j’ai travaillé sur la propagation des oscillation musculaire des membres inférieurs lors de la course à pieds.</p>
<p><italic>Plus de détail prochainement…</italic></p>
    </div>
</div>

<div id="conteneur_exp4">
    <img class="img_exp4" src="/images/logo_aragor.png" alt="Date / time Lycée Arago" title="Logo Lycée Arago">
    <div id="descriptif_exp4">
<p><strong>Poste :</strong> Stage de découverte et de recherche</p>
<p><strong>Résumé :</strong> J’ai réalisé mon Stage de 3éme année de licence dans le domaine de la recherche et de l’entrainement. J’ai été accueilli dans la structure d’accès au haut niveau du Lycée François Arago à Reims (Champagne-Ardenne, France).
J’ ai effectué une étude dans le but de déterminer et de comprendre la différence de puissance de pédalage entre les triathlètes et les cyclistes. Suite aux résultat obtenus, une classification des différents types de profils a été effectué.</p>
<p><italic>Plus de détail prochainement…</italic></p>
    </div>
</div>

 {% endblock %}