{% extends 'base.html.twig' %}

{% block title %}Portfolio de Jean Pignet - Portfolio{% endblock %}

{% block body %}
<h1>Portfolio</h1>

<h2>Projet PHP</h2>
<br>
<div class="container_portfolio">
  <div class="card">
    <a href="images/to_do_list.png"><img src="images/to_do_list.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title" style="text-align: center">ToDoList</h5>
      <br>
      <p class="card-text">Mini projet effectué dans le but de maitriser le concept de formulaire, de tableaux et de base de données.</p> 
      <ul>
        <li>Ajout de tâche (nom, commentaire, date)
        <li>Modification de tâche 
        <li>Suppression de tâche 
        <li>Listing des tâches dans l’ordre chronologique
      </ul>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Methode et  outils :</strong>
        Visual Studio Code, PHP 7, Bootstrap, Bootswatch, MySQL, PhpMyAdmin, Html
      </li>
      <li class="list-group-item">
        <strong>Architecture :</strong> 
        MVC
      </li>    
    </ul>
    <div class="card-footer text-center">
      <a href="https://github.com/Jpignet/to-do-list"><img class="link_todolist" src="/images/logo_github.png" alt="Lien GitHub_ToDoList Pignet Jean" title="Lien GitHub_ToDoList Jean Pignet"></a>
    </div>
  </div>

  <div class="card">
    <a href="images/forum_portfolio.png"><img src="images/forum_portfolio.png" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title" style="text-align: center">Forum</h5>
      <br>
      <p class="card-text">Projet développement de Forum dans le but de maitriser la notion de SESSION, les requêtes SQL, les échanges avec la base de données et le versionning GitHub (utilisation de branche).</p>
      <ul>
        <li>Inscription et authentification de l’utilisateur
        <li>Publication de question (possibilité de modifier ou supprimer la question)
        <li>Répondre aux questions d’autres utilisateurs
        <li>Espace « Mon compte » avec les informations de l’utilisateur (nom, prénom, date d’inscription,…)
        <li>Onglet « Mes questions » comportant les questions posées par l’utilisateur avec la possibilité d’accéder au sujet.
        <li>Onglet « Mes réponse » comportant les réponses aux questions posées par d’autre utilisateurs avec la possibilité d’accéder au sujet.
        <li>Fonction de déconnexion
      </ul>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Methode et  outils :</strong>
        Visual Studio Code, PHP 7, Bootstrap, MySQL, PhpMyAdmin, Html, CSS
      </li>
      <li class="list-group-item">
        <strong>Architecture :</strong> 
        MVC
      </li>    
    </ul>
    <div class="card-footer text-center">
      <a href="https://github.com/Jpignet/forum_php"><img class="link_todolist" src="/images/logo_github.png" alt="Lien GitHub_ToDoList Pignet Jean" title="Lien GitHub_ToDoList Jean Pignet"></a>
    </div>
  </div>
</div>


<br>


{% endblock %}


