{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes diplômes</h1>

<div id="conteneur_dip1">
    <img class="img_dip1" src="/images/diplome_master.png"  alt="Date / time diplome Master Science et techniques des activitées physiques et sportives" title="Logo Université de Reims">
    <div id="descriptif_dip1">
        <p><strong>Intitulé:</strong> Master Ingénierie et Ergonomie de l’Activité Physique et Sportive</p>
        <p><strong>Université:</strong> UFR Sciences et Techniques des Activités Physiques et Sportives de Reims, France</p>
        <p><strong>Résumé:</strong> Finalité de 5 années d'études et de formation dans le domaine des sciences humaines. 
            Les compétences développées dans cette formation permettent d’être capables d’initier, de personnaliser, de transformer et de coordonner des projets d’innovation en 
            ingénierie et ergonomie du sport, des industries, des loisirs, du travail et de la santé conformément à la fiche RNCP nationale.
        </p>
    </div>
</div>

<div id="conteneur_dip2">
    <img class="img_dip2" src="/images/diplome_licence.png"  alt="Date / time diplome Licence Science et techniques des activitées physiques et sportives" title="Logo Université de Reims">
    <div id="descriptif_dip2">
        <p><strong>Intitulé:</strong> Licence Ergonomie du Sport et de la Performance Motrice
        <p><strong>Université:</strong> UFR Sciences et Techniques des Activités Physiques et Sportives de Reims, France
        <p><strong>Résumé:</strong> Réflexion sur l’adaptation du matériel, l’organisation du travail et l’aménagement des 
            locaux et des espaces sportifs et industriels, et ceci au travers d’une formation spécifique destinée à étudier la motricité à travers une approche holistique 
            (prise en compte des facteurs biomécaniques, psychologiques, physiologiques, sociétaux, environnementaux). 
            L’objectif de cette formation est de développer des principes et des méthodes permettant de diagnostiquer les dysfonctionnements dans différentes situations. 
            Les compétences acquises sont également applicables aux domaines de la santé, de l’éducation, de la réhabilitation, du travail et de l’industrie
        </p>
    </div>
</div>

{% endblock %}