{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes Compétences</h1>

<h4>Informatiques</h4>
<div class="comp_info">
    <div class="conteneur_comp1">
        <div class="comp_html5">
            <img class="img_html5" src="/images/html5.png" alt="" title="Logo html5">      
            <div class="btn_position">       
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">70% effectué (success)</span>
                    </div>
                </div>
                <button class="btn_comp" type="button" onclick="window.location.href = 'https://www.google.com/';">+</button>
            </div>
        </div>
        <div class="comp_css3">
            <img class="img_css3" src="/images/css3.png" alt="" title="Logo css3">
            <div class="btn_position">       
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">70% effectué (success)</span>
                    </div>
                </div>
                <button class="btn_comp" type="button" onclick="window.location.href = 'https://www.google.com/';">+</button>
            </div>
        </div>
    </div>
    <div class="conteneur_comp2">
        <div class="comp_php">
            <img class="img_php" src="/images/php.png" alt="" title="Logo php">
            <div class="btn_position">       
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">70% effectué (success)</span>
                    </div>
                </div>
                <button class="btn_comp" type="button" onclick="window.location.href = 'https://www.google.com/';">+</button>
            </div>
        </div>
        <div class="comp_matlab">
            <img class="img_matlab" src="/images/matlab.png" alt="" title="Logo matlab">
            <div class="btn_position">       
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">70% effectué (success)</span>
                    </div>
                </div>
                <button class="btn_comp" type="button" onclick="window.location.href = 'https://www.google.com/';">+</button>
            </div>
        </div>
    </div>
    <div class="conteneur_comp3">
        <div class="comp_java">
            <img class="img_java" src="/images/java.png" alt="" title="Logo java">
            <div class="btn_position">       
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">70% effectué (success)</span>
                    </div>
                </div>
                <button class="btn_comp" type="button" onclick="window.location.href = 'https://www.google.com/';">+</button>
            </div>
        </div>
    </div>    
</div>

<p><h4>Universitaires</h4></p>


 
 {% endblock %}