{% extends 'base.html.twig' %}

{% block title %}Portfolio de Jean Pignet - Me contacter{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <div style="text-align: center; margin-bottom: 20px;">Si vous avez des questions, ou si vous souhaitez échanger, vous pouvez me contacter en cliquant <a href="mailto:jeanpignet@gmail.com">ICI.</a></div>
    
    <h1>Détail</h1>
    <div id="conteneur_detail">
        <div class="lieu">
            <img class="lie" src="/images/lieux.png" alt="" title="">Meyreuil, Bouches-du-Rhône, France
        </div>
        <div class="phone">
            <img class="pho" src="/images/phone.png" alt="" title="">+33 6 67 77 82 70
        </div>
        <div class="mail">
            <img class="mai" src="/images/mail.png" alt="" title="">jeanpignet@gmail.com
        </div>
        <div class="site">
            <img class="sit" src="/images/site.png" alt="" title="">https://jean-pignet-portfolio.herokuapp.com/
        </div>
    </div>


    <h1>Réseaux</h1>
    <div id="conteneur_reseau">
        <a href="http://www.linkedin.com/in/jeanpignet"><img class="linkedin" src="/images/logo_linkedin1.png" alt="Lien Linkedin Pignet Jean" title="Lien likedin Jean Pignet">
        <a href="http://www.instagram.com/jeanpignet"><img class="instagram" src="/images/logo_instagram1.png" alt="Lien Instagram Pignet Jean" title="Lien instagram Jean Pignet">
        <a href="http://www.twitter.com/PignetJean"><img class="twitter" src="/images/logo_twitter1.png" alt="Lien Twitter Pignet Jean" title="Lien Twitter Jean Pignet">
        <a href="https://github.com/Jpignet"><img class="github" src="/images/logo_github1.png" alt="Lien GitHub Pignet Jean" title="Lien GitHub Jean Pignet">
    </div>

 {% endblock %}