{% block body %}


 <!-- Content for Popover: -->
<div id="myPopoverContentHtml" style="display:none">
<p>Projet de dévellopement de site internet HTML/CSS</p> 
    <ul style="padding:10px">
        <li>VS Code</li>
        <li>Bootstrap</li>
    </ol>
</div>
<div id="myPopoverContentCss" style="display:none">
<p>Mise en forme CSS des différentes pages HTML. Utilisation du FRAMWORK Bootstrap</p>
    <ul style="padding:10px">
        <li>VS Code</li>
        <li>Bootstrap</li>
    </ol>
</div><div id="myPopoverContentPhp" style="display:none">
    <p>Réalisation de différent projet impliquant l’utilisation de base de donnée ainsi que le FRAMWORK Symfony 5.</p>
    <ul style="padding:10px">
        <li>FRAMWORK Symfony 5</li>
        <li>EasyAdmin 3</li>
        <li>MySQL</li>
        <li>PhpMyAdmin</li>
        <li>WAMPSERVER</li>
        <li>VS Code</li>
    </ol>
</div><div id="myPopoverContentMatlab" style="display:none">
<p>Traitement de données et des signaux vibratoires. Développement de filtre de pondération ISO2631-1 et ISO2631-5. </p>
    <ul style="padding:10px">
        <li>Traitement des données</li>
        <li>Signal Processing Toolbox</li>
        <li>Filtre de pondération</li>
        <li>Représentation graphique</li>
    </ol>
</div><div id="myPopoverContentJava" style="display:none">
<p>Différents petits jeux réalisés dans le but de découvrir le langage de programmation (FlappyBird, Snake)</p>
    <ul style="padding:10px">
        <li>Eclipse</li>
    </ol>
</div>
<div id="myPopoverContentPython" style="display:none">
<p>Traitement de données. Reproduction de la cinématique du mouvement issues d’outils de capture du mouvement </p>    
    <ul style="padding:10px">
        <li>Traitment de données</li>
        <li>OpenCv</li>
        <li>PyMo</li>
        <li>JupyterLab</li>
        <li>Représentation graphique</li>
    </ol>
</div>
{% endblock %}